<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords"
        content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Dreams Pos admin template</title>

    <link rel="shortcut icon" type="image/x-icon" href="/template/img/favicon.jpg">

    <link rel="stylesheet" href="/template/css/bootstrap.min.css">

    <link rel="stylesheet" href="/template/css/animate.css">

    <link rel="stylesheet" href="/template/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="/template/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/template/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/template/css/style.css">
</head>

<body class="error-page">
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>

    <div class="main-wrapper">
        <div class="error-box">
            <h1>404</h1>
            <h3 class="h2 mb-3"><i class="fas fa-exclamation-circle"></i> Oops! Không cho phép truy cập!</h3>
            <p class="h4 font-weight-normal">Trang bạn yêu cầu không cho phép truy cập.</p>
            <div class="mt-4">
                <a href="javascript:history.back()" class="btn btn-primary">Quay lại trang trước</a>
            </div>
        </div>
    </div>


    <script src="/template/js/jquery-3.6.0.min.js"></script>

    <script src="/template/js/feather.min.js"></script>

    <script src="/template/js/jquery.slimscroll.min.js"></script>

    <script src="/template/js/bootstrap.bundle.min.js"></script>

    <script src="/template/js/script.js"></script>
</body>

</html>