<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords"
        content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Không có quyền truy cập</title>

    <link rel="shortcut icon" type="image/x-icon" href="/template/img/favicon.jpg">

    <link rel="stylesheet" href="/template/css/bootstrap.min.css">

    <link rel="stylesheet" href="/template/css/animate.css">

    <link rel="stylesheet" href="/template/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/template/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/template/css/style.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="error-wrap text-center">
                            <h1>403</h1>
                            <h2>Bạn không có quyền truy cập trang này</h2>
                            <p>Xin lỗi, bạn không có quyền truy cập vào trang này. Vui lòng liên hệ quản trị viên nếu bạn cần trợ giúp.</p>
                            <a href="/" class="btn btn-primary">Về trang chủ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/template/js/jquery-3.6.0.min.js"></script>
    <script src="/template/js/feather.min.js"></script>
    <script src="/template/js/bootstrap.bundle.min.js"></script>
    <script src="/template/js/script.js"></script>
</body>

</html> 